<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Bug List</title>
</head>
<body>
<div class="container">

    <br>
    <h3>Bug Tracker</h3>
    <hr>

    <br>
    <div>
        Logged User: <span sec:authentication="name"></span>
        <br>
        Role(s): <span sec:authentication="principal.authorities"></span>
        <br><br>
    </div>

    <hr>

    <a th:href="@{showFormForReporting}"
       sec:authorize="hasRole('QATESTER')"
       class = "btn btn-primary btn-sm mb-3">
        Report Bug</a>

    <table class="table table-bordered table-striped table-nonfluid">
        <thead class="thead-dark">
        <tr>
            <th>Bug Name</th>
            <th>Bug Description</th>
            <th>Bug Status</th>
            <th>Time Reported</th>
            <th sec:authorize="hasRole('DEVELOPER')">Posted By</th>
            <th sec:authorize="hasRole('DEVELOPER')">Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="bug : ${bugs}">
            <td th:text="${bug.name}"></td>
            <td th:text="${bug.description}"></td>
            <td th:text="${bug.status}"></td>
            <td th:text="${bug.timeReported}"></td>
            <td sec:authorize="hasRole('DEVELOPER')" th:text="${bug.reporter.firstName} + ' ' + ${bug.reporter.lastName}"></td>
            <td th:switch="${bug.status}" sec:authorize="hasRole('DEVELOPER')">
                <a th:href="@{trackBug}"
                   th:case="${bug.status.NOT_TRACKED}"
                   sec:authorize="hasRole('DEVELOPER')"
                   class = "btn btn-info btn-sm mb-3">
                    Track Bug</a>
                <a th:href="@{markBugAsSolved}"
                   th:case="${bug.status.TRACKED}"
                   sec:authorize="hasRole('DEVELOPER')"
                   class = "btn btn-success btn-sm mb-3">
                    Mark as Solved</a>
            </td>
        </tr>
        </tbody>
    </table>

    <hr>

    <form action="#" th:action="@{/logout}"
          method="POST">

        <input type="submit" value="Logout" class="btn btn-outline-primary mt-2"/>
        <hr>
    </form>

</div>
</body>
</html>