<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Report Bug</title>

    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script>
        var stompClient = null;

        function setConnected(connected) {
            $("#connect").prop("disabled", connected);
            $("#disconnect").prop("disabled", !connected);
        }

        function connect() {
            var socket = new SockJS('/update-websocket');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {
                setConnected(true);
                console.log('Connected: ' + frame);
            });
        }

        function disconnect() {
            if (stompClient !== null) {
                stompClient.disconnect();
            }
            setConnected(false);
            console.log("Disconnected");
        }

        function sendUpdate() {
            stompClient.send("/bugreportingsystem/bugs/update", {}, JSON.stringify({'name': 'UPDATE'}));
        }

        $(function () {
            $( "#reportButton" ).click(function() { sendUpdate(); disconnect(); });
            $( "#backLink" ).click(function() { disconnect(); });
        });

        connect();
    </script>
</head>
<body>
<div class="container">
    <h3>Bug Tracker</h3>
    <hr>

    <p class="h4 mb-4">Report Bug</p>

    <form action="#" th:action="@{report}"
          th:object="${bug}" method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}"/>

        <input type="text" th:field="*{name}"
               class="from-control mb-4 col-4" placeholder="Bug Name"/>

        <br>

        <textarea cols="86" rows ="10" th:field="*{description}"
               class="from-control mb-4 col-4" placeholder="Last name"></textarea>

        <br>

        <button id="reportButton" type="submit" class="btn btn-info col-2">Report</button>
    </form>

    <hr>
    <a id="backLink" th:href="@{/bugreporting/bugs/list}">Back to Bug List</a>
</div>
</body>
</html>